/* General Text */

body {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Rows */

#title-row {
    justify-content: center;
}

#instructions-row {
    margin: 10px;
}

/* Columns */

#cocktail-column, #restaurant-column {
    margin-bottom: 15px;
}

/* Headers */

h1, h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Restaurant-API response list */

.restaurant {
    margin: 20px 0 20px 10px;
    padding: 5px;
}

/* Ben's CSS */

body {
    background: url("../images/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-group {
    background: aqua;
    border: 1px solid #d3d3d3;
    left: 50%;
    padding: 2px 5px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.form-group button {
    background: rgb(52, 173, 236);
    border: none;
    color: #fff;
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px;
    width: 106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.searchform button:hover {
    opacity: .9;
}

/* Allegra's CSS */

.restaurant {
    margin: 20px 0 20px 10px;
    padding: 5px;
}

/* Nelly's CSS */

#cocktail-results-card {
    float: left;
    width: 550px;
    overflow-y: auto;
    max-height: 400px;
    margin-right: 50px;
}

#restaurant-results-card {
    width: 500px;
    overflow-y: auto;
    height: 400px;
    margin-left: 50px;
}

.results {
    background-color: aqua;
}

.card-header {
    background-color: aqua;
}

/* Font Awesome Icon */
.fas {
    padding: 10px;
}

/* Footer */
#copyright-text {
    margin-left: 250px;
    margin-top: 20px;
  }