/* General Text */

body {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Rows */

#title-row {
    justify-content: center;
}

#instructions-row {
    margin: 10px;
}

/* Columns */

#cocktail-column, #resturaunt-column {
    margin-bottom: 15px;
}

/* Headers */

h1, h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Restaurant-API response list */
.restaurant {
    margin: 20px 0 20px 10px;
    padding: 5px;
}