/* ------- GENERAL TEXT--------- */

a {
    color: #2784c8;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
    background: url("../images/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Gloria Hallelujah', cursive;
}

#title-text {
    color: #facf05;
    font-size: 75px;
    text-shadow: 2px 2px #115aac;
}

#tagline-text {
    font-style: italic;
    color: #f6dc10;
    text-shadow: 2px 2px #115aac;
}

#instructions-text {
    background-color: #facf05e6;
    padding: 15px;
    border-radius: 2;
    border-radius: 10px;
    color: #115aac;
    line-height: 1.40;
    border: 1px solid rgb(0, 0, 0);
}

#cocktail-searchboard, #restaurant-searchboard {
    font-size: 19px;
    text-align: center;
    color: #6e1688;
}

label {
    font-size: 18px;
}

/* -------- ROWS ---------- */

.row {
    justify-content: center;
}

#title-row {
    justify-content: center;
}

#instructions-row {
    margin: 10px;
}

/* -------- COLUMNS -------  */

#cocktail-column, #restaurant-column {
    margin-bottom: 15px;
}

/* -------- CARDS ------------ */

.card {
    border: 1px solid rgb(0, 0, 0);
}

.card-header {
    color: #facf05;
    background-color: #115aac;
    text-align: center;
    font-size: 22px;
}

#cocktail-results-card {
    overflow-y: auto;
    max-height: 400px;
}

#restaurant-results-card {
    overflow-y: auto;
    max-height: 400px;
}

.results {
    background-color: #115aac;
}

.card-body {
    background-color: #d9c786;
}

/* ------------- RESTAURAUNT-API RESPONSE LIST ---------------- */

.restaurant {
    margin: 20px 0 20px 10px;
    padding: 5px;
}

/* ------------- FORM GROUP ----------- */

.form-control {
    background: #e9ddaf;
}

.form-group {
    text-align: center;
    background: #e1994a;
    color: #6e1688;
    border: 1px solid #000000;
    left: 50%;
    padding: 2px 5px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.form-group button {
    font-size: 17.5px;
    font-weight: 900;
    margin: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    background: #e1994a;
    border: double;
    color: #6e1688;
    cursor: pointer;
    padding: 5px;
    width: 106px;
    box-shadow: 0 0 2px #d9c786 inset;
    -moz-box-shadow: 0 0 2px #d9c786 inset;
    -webkit-box-shadow: 0 0 2px #d9c786 inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.searchform button:hover {
    opacity: .9;
}

/* Font Awesome Icon */

.fas {
    padding: 10px;
}

.fa-cocktail {
    color: #b96837;
}

/* Footer */

#copyright-text {
    margin-top: 20px;
    color: #2784c8;
}

#audio-row {
    margin-bottom: 10px;
}